@model BuildFormation.Models.Topic
    @{
        ViewBag.Title = "CreerTopic";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<script>
    function commande(nom, argument) {
        if (typeof argument === 'undefined') {
            argument = '';
        }
        // Exécuter la commande
        document.execCommand(nom, false, argument);
    }
</script>

<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
        inlineMath: [ ["\\(","\\)"] ],
        displayMath: [ ["\\[","\\]"] ],
        processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
        });
</script>
<script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>


    <h2>CreerTopic</h2>
    <div>
        <div>
            @using (Html.BeginForm("Appercu","Topic"))
            {
            <fieldset>
                <legend>Creer un topic (pour les formule latex: utilise le syntaxe En dehors d'un texte ("maths hors ligne"))</legend>
                <div>
                    @Html.LabelFor(model => model.Contenu)
                    <br />
                    @Html.TextAreaFor(model => model.Contenu,@*new { rows = "6", cols = "10" }*@/**/
                                 /**/
                                 new { Style = "width: 100%; height:150px;" })
                    @Html.ValidationMessageFor(model => model.Contenu) @*pour valider le nom*@
                </div>

                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Apperçu" class="btn btn-default" />
                    </div>
                </div>
            </fieldset>
            }
        </div>
        
        
        
        
        

        <div>
            @if (Model.Contenu != null)
            {
                <div id="editeur" contentEditable="false">@Model.Contenu</div>
            }
        </div>
        
        @*<input type="button" value="G" style="font-weight: bold;" onclick="commande('bold');" />
        <input type="button" value="I" style="font-style: italic;" onclick="commande('italic');" />
        <input type="button" value="S" style="text-decoration: underline;" onclick="commande('underline');" />
        <div id="editeur" contentEditable>@Model.Contenu</div>
        *@
        
        
        
    



        @*Of a set \(\mathcal{S}\) is a bijection \(\psi : \mathcal{S} \rightarrow \mathcal{S}\).
            \[ \int_{a}^{b} f(x) \, \mathrm{d}x \]*@
    </div>



<div>
    @using (Html.BeginForm("CreerTopic", "Topic"))
    {
    <fieldset>
        <div>
            <br />
            @Html.TextBoxFor(model => model.Contenu, new { Style = "width: 0px; height:0px;" })
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Titre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Titre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Theme, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Theme, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Theme, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Creer" class="btn btn-default" />
                </div>
            </div>
            
        </div>

    </fieldset>
    }
</div>





