@model  List < BuildFormation.Models.Topic>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste des topics  </h1>
@foreach (var topic in Model)
{
    <biv>
        <h2>@Html.ActionLink(@topic.Titre, "AfficherTopic", new { id = topic.Id })</h2>
      
        <b> Auteur : </b> @topic.Auteur.Nom
        <b> Le : </b> @topic.DateDePublication
        <b> theme : </b> @topic.Theme
        <br />
        @topic.Description
    </biv>
}

