@using BuildFormation.Models
@model BuildFormation.Models.Topic
@{
    ViewBag.Title = "SupprimerTopic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supprimer Topic</h2>

@using (Html.BeginForm())
{
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Titre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.Titre, new { htmlAttributes = new { @disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Theme, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.Theme, new { htmlAttributes = new { @disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Auteur, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.Auteur.Pseudo, new { htmlAttributes = new { @disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateDePublication, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.DateDePublication, new { htmlAttributes = new { @disabled = "disabled" } })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.DateDernierModification, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.DateDernierModification, new { htmlAttributes = new { @disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, htmlAttributes : new { @disabled = "disabled" } )
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Supprimer" class="btn btn-default" />
            </div>
        </div>
    }
}

