@using BuildFormation.Models
@model BuildFormation.ViewModels.AfficherDocumentViewModel

@{
    ViewBag.Title = "AfficherDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Document.Titre</h2>
<b> Auteur : </b> @Model.Document.Auteur.Nom
<br />
<b> Date de publication : </b> @Model.Document.DateDePublication
<br />
<b> Theme : </b> @Model.Document.Theme
<br />
<b> Nobre de pages : </b> @Model.Document.NbPages
<br />
<b> description : </b>
<br />
@Model.Document.Description
<br />
<b> Lien : </b> @Html.ActionLink(@Model.Document.Nom, "Consulter", new { id = @Model.Document.Id })
<br />
@if (Model.Document.Auteur == Model.MembreActuel)//si le membre est l'auteur, il pourras modifier le topic
{
    @Html.ActionLink("modifier", "ModifierDocument", new { id = Model.Document.Id })
}
<br />
@if (Model.Document.Auteur == Model.MembreActuel || Model.MembreActuel.Privilege == Privilege.Administrateur)//si le membre est l'auteur, il pourras modifier le topic
{
    @Html.ActionLink("supprimer", "SupprimerDocument", new { id = Model.Document.Id }, null)

}