
@model  List<BuildFormation.Models.Document>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste des documents  </h1>

@foreach (var document in Model)
{
    <biv>
        <h2>@Html.ActionLink(@document.Titre, "AfficherDocument", new { id = document.Id })</h2>
        <b> Auteur : </b> @document.Auteur.Nom
        <b> Le : </b> @document.DateDePublication
        <b> Theme : </b> @document.Theme
        <b> Nombre de pages : </b> @document.NbPages
        <br />
        <b>Description :</b>
        <br />
        @document.Description
    </biv>
}

