
@model BuildFormation.ViewModels.RechercheDocumentViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste des documents  </h1>

@using (Ajax.BeginForm("ResultatsRechercheDocuments", new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "resultats",
    OnFailure = "ErreurRecherche",
    LoadingElementId = "chargement"
}))

{
    @Html.TextBoxFor(m => m.Filtre);
    <img id="chargement" src="~/Content/Images/ajax-loader.gif" style="display: none" alt="Chargement en cours..." />
    <input type="submit" value="Rechercher" />


    <div id="resultats">
        @{Html.RenderAction("ResultatsRechercheDocuments", new { rechercheViewModel = Model });
        }
    </div>
}


@*@foreach (var document in Model)
    {
        <biv>
            <h2>@Html.ActionLink(@document.Titre, "AfficherDocument", new { id = document.Id })</h2>
            <b> Auteur : </b> @document.Auteur.Nom
            <b> Le : </b> @document.DateDePublication
            <b> Theme : </b> @document.Theme
            <b> Nombre de pages : </b> @document.NbPages
            <br />
            <b>Description :</b>
            <br />
            @document.Description
        </biv>
    }*@

