@model BuildFormation.ViewModels.MembreViewModel
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<div>
    @if (Model.Authentifie)
    {
        <h3>
            Vous êtes déjà authentifié avec le login :
            @Model.Membre.Pseudo
        </h3>
        @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
    }
    else
    {
        <p>
            Veuillez vous authentifier :
        </p>
        using (Html.BeginForm())
        {
            <div class="form-group">
                    @Html.LabelFor(model => model.PseudoOuEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PseudoOuEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PseudoOuEmail, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MotDePasse, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.MotDePasse, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MotDePasse, "", new { @class = "text-danger" })
                    </div>
                </div>

          
        
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="connexion" class="btn btn-default" />
                </div>
            </div>




        }
        @Html.ActionLink("Créer un compte", "CreerCompte")

    }

</div>

